.button {
    background-color: var(--bg-secondary);
    padding: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.delete {
    text-decoration: underline;
}

.button:hover {
    scale: 1.05;
}

#add-pet {
    background-color: var(--bg-tertiary-light);
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 5rem;
}
